@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff2") format("woff");
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #ff9900;
  --grey-color: #cacaca;
  --dark-color: #222;
  --dark-grey-color: #414141;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  display: none;
}

.site-button {
  border: none;
  background: var(--orange-color);
  border-radius: 16px;
  color: var(--white-color);
  cursor: pointer;
  font-weight: 700;
}

.btn-reset {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--black-color);
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 75px;
  margin: 0 auto;
}

/* header */

.header {
  width: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.header__logo {
  margin-right: auto;
}

.header__search {
  padding: 3px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__item:last-child {
  margin-right: 260px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
}

/* hero */

.hero {
  padding: 50px 0px;
}

.hero__container {
  max-width: 1770px;
  background-image: url("../image/jpg/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
}

.hero-content {
  padding: 100px 0 100px 5px;
}

.hero__title {
  max-width: 837px;
  margin-bottom: 24px;

  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white-color);
}

.hero__descr {
  margin-bottom: 90px;
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}

.hero__button {
  padding: 25px 39px;
  font-size: 23px;
  line-height: 28px;
}

/* about */

.about {
  padding-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
}

.about__descr {
  margin-bottom: 50px;
  max-width: 1235px;

  font-size: 16px;
  line-height: 200%;
  color: var(--black-color);
}

.about-content {
  display: flex;
}

.about-content__left {
  display: flex;
  align-items: flex-end;
  flex-basis: 50%;
  max-width: 868px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 32px;
}

.about-left__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about-left__text {
  max-width: 433px;
  font-weight: 700;
  font-size: 16px;
  line-height: 200%;
  color: var(--white-color);
}

.about-left__button {
  border-radius: 16px;
  padding: 18px 35px;
  font-weight: 700;
  color: var(--white-color);
  border: 3px solid var(--orange-color);
}

.about-content__right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-left: 16px;
}

.about-right__item {
  flex-basis: 50%;
}

.about-right__item:first-child {
  margin-bottom: 32px;
}

.about-right__item {
  padding: 65px 0 65px 300px;
  background-repeat: no-repeat;
  background-position: 60px 65px;
  border: 1px solid var(--grey-color);
  border-radius: 32px;
}

.about-right__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.about-right__text {
  max-width: 450px;
  line-height: 32px;
}

/* work */

.work {
  padding-bottom: 111px;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  align-items: center;
  gap: 85px;
  margin-bottom: 45px;
}

.work__button {
  font-size: 18px;
  line-height: 22px;
}

.work__content {
  display: flex;
  justify-content: space-between;
}

.work-left {
  flex-basis: 50%;
  min-height: 470px;
}

.work-left__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
}

.work-left__text {
  max-width: 758px;
  margin-bottom: 18px;
  line-height: 200%;
  color: var(--black-color);
}

.work-left__buttons {
  display: flex;
  align-items: center;
}

.work-left__btn {
  padding: 20px 38px;
}

.work-left__btn:first-child {
  margin-right: 32px;
}

.work-left__btn--border {
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid var(--black-color);
}

.work-right {
  flex-basis: 50%;
}

/* questions */

.questions {
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
}

.question:first-child {
  border-top: 1px solid var(--grey-color);
}

.question {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--grey-color);
  transition: border-color 0.3s ease;
}

.heading {
  position: relative;
  display: flex;
  width: 100%;
  padding: 39px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: left;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: color 0.3s ease;
}

.head__text {
  width: 80%;
}

.question:first-child:hover,
.question:hover,
.question:focus-within {
  border-color: var(--orange-color);
}

.question:first-child:active,
.question:active {
  border-color: var(--grey-color);
}

.head__icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--grey-color);
  transform: translateY(-50%);
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
}

.head__icon::before,
.head__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black-color);
  transition: background-color, 0.3s ease;
}

.head__icon::before {
  width: 31px;
  height: 1px;
}

.head__icon::after {
  width: 1px;
  height: 31px;
}

.heading:hover,
.heading:focus {
  color: var(--orange-color);
  outline: none;
}

.heading:active {
  color: var(--black-color);
}

.heading:hover .head__icon,
.heading:focus .head__icon {
  background-color: var(--orange-color);
}

.heading:active .head__icon {
  background-color: var(--grey-color);
  transform: translateY(-50%) rotate(45deg);
}

.heading:hover .head__icon::before,
.heading:hover .head__icon::after,
.heading:focus .head__icon::before,
.heading:focus .head__icon::after {
  background-color: #fff;
}

/* footer */

.footer {
  background-color: var(--dark-color);
  padding: 50px 0;
}

.footer__container {
  display: flex;
  align-items: flex-start;
}

.footer-left {
  flex-basis: calc(100% / 3);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: calc(100% / 1.5);
}

.footer__list {
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--grey-color);
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__icon:not(:last-child) {
  margin-right: 25px;
}

.footer-wrapper {
  min-width: 570px;
}

.footer__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--grey-color);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: 0;
  margin-bottom: 25px;
  padding-left: 24px;
  height: 60px;
  background-color: var(--dark-grey-color);
  color: var(--grey-color);
}

.form__input::placeholder {
  color: var(--grey-color);
}

.form__area {
  max-width: 100%;
  resize: none;
  margin-bottom: 32px;
  border: 0;
  height: 150px;
  padding: 14px 0 0 24px;
  background-color: var(--dark-grey-color);
}

.form__area::placeholder {
  color: var(--grey-color);
}

.form__button {
  padding: 19px 52px;
  border-radius: 0;
  margin-right: 22px;
}

.checkbox__text {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  display: inline-block;
  color: var(--grey-color);
  padding-left: 20px;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox__text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--grey-color);
}

.checkbox__text::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 14px;
  opacity: 0;
  background-image: url('../image/svg/Check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.checkbox:checked+.checkbox__text::after {
  opacity: 1;
}


.footer__text {
  max-width: 363px;
  line-height: 32px;
  color: var(--grey-color);
}